<article class="card bg-white">
  <header class="card-body">
    <h2 class="h4 card-title">{{ include.title }}</h2>
    <p class="card-text">{{ include.excerpt | strip_html }}</p>
    <a href="{{ include.url }}" class="card-link d-flex align-items-center"
      >Read More
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-compact-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"
        />
      </svg>
    </a>
  </header>
</article>
