<article class="card bg-white">
  <header class="card-body">
    <h2 class="h4 card-title">{{ include.title }}</h2>
    <p class="card-text">{{ include.excerpt | strip_html }}</p>
    <a href="{{ include.url }}" class="card-link d-flex align-items-center">
      Read More
      <span aria-hidden="true">&raquo;</span>
    </a>
  </header>
</article>
