@import "mixins";
@import "custom";

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/utilities/api";

.long-shadow {
  @include long-shadow(text, $red-700, 400, false, false, left);
}

img {
  @extend .img-fluid;
}

table {
  @extend .table;
}

blockquote {
  @extend .blockquote;
  @extend .bg-blue-200;
  @extend .p-2;
  border-left-width: 5px;
  border-left-color: $blue-500;
  border-left-style: solid;
}
