<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include page_title.html %}
      <div class="container">
        <div class="row">
          <section class="vstack gap-4 col col-sm-8">
            <div class="card bg-white">
              <div class="card-body">{{ content }}</div>
            </div>
          </section>
          <aside class="col col-sm-4">
            {% if page.resources != nil %} {% include resources.html %} {% endif
            %}
          </aside>
        </div>
      </div>
    </main>
  </body>
</html>
