<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <h1>{{ page.title }}</h1>
      {% if page.resources != nil or page.resources != "" %}
      <aside>
        <h2>Resources</h2>
        <ul>
          {% for resource in page.resources %}
          <li>
            <a href="{{ resource.url }}">{{ resource.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </aside>
      {% endif %}
      {{ content }}
    </main>
  </body>
</html>
