<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      {% include page_title.html %}
      <section
        role="region"
        aria-labelledby="latest-posts"
        class="container vstack gap-4"
      >
        <h2 id="latest-posts" class="border-bottom border-gray-100">
          Latest Posts
        </h2>
        {% for post in site.posts limit:3 %} {% capture title %} {{ post.title
        }} {% endcapture %} {% capture excerpt %} {{ post.excerpt }} {%
        endcapture %} {% capture url %} {{ post.url }} {% endcapture %} {%
        include article.html title=title excerpt=excerpt url=url %} {% endfor %}
      </section>
    </main>
  </body>
</html>
